body {
    height: 100vh;
}

#app {
    height: 100%;
}

.fullHeight {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 3rem 0;
}

.mainSection {
    padding: 1rem;
    user-select: none;
    flex: 1;
}

.cardView {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.listItem {
    cursor: pointer;
    margin: .5rem 0;
    padding: .5rem 0;
}

.listItem:not(:last-child) {
    border-bottom: .5px solid rgba(0, 0, 0, .2);
}

.listItem:hover {
    border-radius: 2rem;
    background-color: #f5fcf2;
    border: none;
}

.listItem h1 {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .5px;
}

.listItem.selected {
    background-color: #82d060;
    color: white;
    border-radius: 2rem;
    border: none;
}

.messageBubble {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem 0;
}

.messageBubble.self {
    align-items: flex-end;
}

.messageBubble.self>.username {
    color: #82d060;
}

.userList {
    flex: .5;
}

.chatList {
    flex: 1;
}

.chatList > .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
